<section class="our-collection">
  <div class="collection-container">
    <h2 class="collection-title">Our Collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              src="../img/collection/august-poltava-womens-blousering-desktop1440.jpg"
            />
            <source
              src="../img/collection/august-poltava-womens-blousering-mobile.jpg"
            />
            <source
              src="../img/collection/august-poltava-womens-blousering-tablet.jpg"
            />
            <img
              src="../img/collection/august-poltava-womens-blousering-desktop1280.jpg"
              alt="AUGUST Poltava women's blouseRING"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              src="../img/collection/womens-blouse-gorgany-desktop1440.webp"
            />
            <source src="../img/collection/womens-blouse-gorgany-mobile.webp" />
            <source src="../img/collection/womens-blouse-gorgany-tablet.webp" />
            <img
              src="../img/collection/womens-blouse-gorgany-desktop1280.jpg"
              alt="Women's blouse Gorgany"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Women's blouse Gorgany</h3>
          <p class="collection-list-text">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              src="../img/collection/womens-blouse-crimea-desktop1440.webp"
            />
            <source src="../img/collection/womens-blouse-crimea-mobile.webp" />
            <source src="../img/collection/womens-blouse-crimea-tablet.webp" />
            <img
              src="../img/collection/womens-blouse-crimea-desktop1280.jpg"
              alt="Women's blouse Crimea"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Women's blouse Crimea</h3>
          <p class="collection-list-text">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              src="../img/collection/mens-shirt-verkhovina-desktop1440.webp"
            />
            <source src="../img/collection/mens-shirt-verkhovina-mobile.jpg" />
            <source src="../img/collection/mens-shirt-verkhovina-tablet.jpg" />
            <img
              src="../img/collection/mens-shirt-verkhovina-desktop1280.jpg"
              alt="Men's shirt Verkhovina"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Men's shirt Verkhovina</h3>
          <p class="collection-list-text">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              src="../img/collection/mountain-mens-shirt-desktop1440.jpg"
            />
            <source src="../img/collection/mountain-mens-shirt-mobile.jpg" />
            <source src="../img/collection/mountain-mens-shirt-tablet.jpg" />
            <img
              src="../img/collection/mountain-mens-shirt-desktop1280.jpg"
              alt="Mountain men's shirt"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Mountain men's shirt</h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source src="../img/collection/mens-shirt-yasen-dekstop1440.jpg" />
            <source src="../img/collection/mens-shirt-yasen-mobile.jpg" />
            <source src="../img/collection/mens-shirt-yasen-tablet.jpg" />
            <img
              src="../img/collection/mens-shirt-yasen-dekstop1280.jpg"
              alt="Men's shirt Yasen"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Men's shirt Yasen</h3>
          <p class="collection-list-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
