<section class="our-collection" id="collection">
  <div class="container collection-container">
    <h2 class="section-title collection-title">Our Collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-desktop1440.webp    1x,
                ./img/collection/august-poltava-womens-blousering-desktop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-desktop1440.jpg    1x,
                ./img/collection/august-poltava-womens-blousering-desktop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-desktop1280.webp    1x,
                ./img/collection/august-poltava-womens-blousering-desktop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-desktop1280.jpg    1x,
                ./img/collection/august-poltava-womens-blousering-desktop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-tablet.webp    1x,
                ./img/collection/august-poltava-womens-blousering-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-tablet.jpg    1x,
                ./img/collection/august-poltava-womens-blousering-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-mobile.webp    1x,
                ./img/collection/august-poltava-womens-blousering-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/august-poltava-womens-blousering-mobile.jpg    1x,
                ./img/collection/august-poltava-womens-blousering-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/august-poltava-womens-blousering-desktop1440.jpg"
              alt="AUGUST Poltava women's blouseRING"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-desktop1440.webp    1x,
                ./img/collection/womens-blouse-gorgany-desktop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-desktop1440.jpg    1x,
                ./img/collection/womens-blouse-gorgany-desktop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-desktop1280.webp    1x,
                ./img/collection/womens-blouse-gorgany-desktop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-desktop1280.jpg    1x,
                ./img/collection/womens-blouse-gorgany-desktop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-tablet.webp    1x,
                ./img/collection/womens-blouse-gorgany-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-tablet.jpg    1x,
                ./img/collection/womens-blouse-gorgany-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-mobile.webp    1x,
                ./img/collection/womens-blouse-gorgany-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-gorgany-mobile.jpg    1x,
                ./img/collection/womens-blouse-gorgany-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/womens-blouse-gorgany-desktop1440.jpg"
              alt="Women's blouse Gorgany"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Women's blouse Gorgany</h3>
          <p class="collection-list-text">3350 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-desktop1440.webp    1x,
                ./img/collection/womens-blouse-crimea-desktop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-desktop1440.jpg    1x,
                ./img/collection/womens-blouse-crimea-desktop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-desktop1280.webp    1x,
                ./img/collection/womens-blouse-crimea-desktop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-desktop1280.jpg    1x,
                ./img/collection/womens-blouse-crimea-desktop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/womens-blouse-crimea-tablet.webp    1x,
                ./img/collection/womens-blouse-crimea-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-tablet.jpg    1x,
                ./img/collection/womens-blouse-crimea-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/womens-blouse-crimea-mobile.webp    1x,
                ./img/collection/womens-blouse-crimea-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/womens-blouse-crimea-mobile.jpg    1x,
                ./img/collection/womens-blouse-crimea-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/womens-blouse-crimea-desktop1440.jpg"
              alt="Women's blouse Crimea"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Women's blouse Crimea</h3>
          <p class="collection-list-text">4000 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-desktop1440.webp    1x,
                ./img/collection/mens-shirt-verkhovina-desktop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-desktop1440.jpg    1x,
                ./img/collection/mens-shirt-verkhovina-desktop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-desktop1280.webp    1x,
                ./img/collection/mens-shirt-verkhovina-desktop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-desktop1280.jpg    1x,
                ./img/collection/mens-shirt-verkhovina-desktop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-tablet.webp    1x,
                ./img/collection/mens-shirt-verkhovina-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-tablet.jpg    1x,
                ./img/collection/mens-shirt-verkhovina-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-mobile.webp    1x,
                ./img/collection/mens-shirt-verkhovina-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-verkhovina-mobile.jpg    1x,
                ./img/collection/mens-shirt-verkhovina-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/mens-shirt-verkhovina-desktop1440.jpg"
              alt="Men's shirt Verkhovina"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Men's shirt Verkhovina</h3>
          <p class="collection-list-text">3100 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-desktop1440.webp    1x,
                ./img/collection/mountain-mens-shirt-desktop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-desktop1440.jpg    1x,
                ./img/collection/mountain-mens-shirt-desktop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-desktop1280.webp    1x,
                ./img/collection/mountain-mens-shirt-desktop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-desktop1280.jpg    1x,
                ./img/collection/mountain-mens-shirt-desktop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mountain-mens-shirt-tablet.webp    1x,
                ./img/collection/mountain-mens-shirt-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-tablet.jpg    1x,
                ./img/collection/mountain-mens-shirt-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mountain-mens-shirt-mobile.webp    1x,
                ./img/collection/mountain-mens-shirt-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mountain-mens-shirt-mobile.jpg    1x,
                ./img/collection/mountain-mens-shirt-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/mountain-mens-shirt-desktop1440.jpg"
              alt="Mountain men's shirt"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Mountain men's shirt</h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-img">
          <picture>
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-dekstop1440.webp    1x,
                ./img/collection/mens-shirt-yasen-dekstop1440@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-dekstop1440.jpg    1x,
                ./img/collection/mens-shirt-yasen-dekstop1440@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-dekstop1280.webp    1x,
                ./img/collection/mens-shirt-yasen-dekstop1280@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-dekstop1280.jpg    1x,
                ./img/collection/mens-shirt-yasen-dekstop1280@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mens-shirt-yasen-tablet.webp    1x,
                ./img/collection/mens-shirt-yasen-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-tablet.jpg    1x,
                ./img/collection/mens-shirt-yasen-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./img/collection/mens-shirt-yasen-mobile.webp    1x,
                ./img/collection/mens-shirt-yasen-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mens-shirt-yasen-mobile.jpg    1x,
                ./img/collection/mens-shirt-yasen-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              src="./img/collection/mens-shirt-yasen-dekstop1440.jpg"
              alt="Men's shirt Yasen"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-h-p">
          <h3 class="collection-list-title">Men's shirt Yasen</h3>
          <p class="collection-list-text">1700 UAH</p>
        </div>
        <div class="collection-item-overlay">
          <button class="collection-btn btn" type="button">
            Buy<svg class="btn-icon hero-btn-icon" width="24" height="16">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
