<footer class="footer-img">
  <div class="container">
    
           <ul class="nav-list-footer">

              <li class="nav-link-footer">
                 <a class="nav-footer" href="#ABOUT US">ABOUT US</a>
              </li>

              <li class="nav-link-footer">
                 <a class="nav-footer" href="#OUR COLLECTION">OUR COLLECTION</a>
              </li>

              <li class="nav-link-footer">
                 <a class="nav-footer" href="#CUSTOMER ORDER">CUSTOMER ORDER</a>
              </li>

              <li class="nav-link-footer">
                 <a class="nav-footer" href="#TESTIMONIALS">TESTIMONIALS</a>
              </li>

            </ul>

        <h2 class="title-footer">A touch of <span class="ukrainian-span">Ukrainian</span> culture in every embroidery</h2>
    </div>
</footer>

