<header class="first-header">
  <div class="container header-div-header">
    <nav class="header-nav">
    <img class="logo-header"
    src="../img/logo.svg" alt="logo-logo"
    width="44" height="40">
      <ul class="header-list-header">
        <li class="header-button-about">
          <a class="header-for" href>ABOUT US</a>
        </li>
        <li class="header-button-about">
          <a class="header-for" href>OUR COLLECTION</a>
        </li>
        <li class="header-button-about">
          <a class="header-for" href>CUSTOMER ORDER</a>
        </li>
        <li class="header-button-about">
          <a class="header-for" href>TESTIMONIALS</a>
        </li>
      </ul>
    </nav>

    <div class="mobil-header">
      <a class="header-number-button" href="tel:+380684439426">
        +380(68)443-94-26
      </a>
    </div>
    <div class="header-social-header">
      <ul class="header-list-all">
        <li class="header-social-list">
          <a
            href="https://www.facebook.com"
            target="_blank"
            class="header-social"
          >
            <svg
              class="header-icon-social"
              width="28"
              height="28"
              aria-label="facebook-header"
            >
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list">
          <a
            href="https://www.instagram.com"
            target="_blank"
            class="header-social"
          >
            <svg
              class="header-icon-social"
              width="28"
              height="28"
              aria-label="inst-header"
            >
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list">
          <a
            href="https://www.youtube.com"
            target="_blank"
            class="header-social"
          >
            <svg
              class="header-icon-social"
              width="28"
              height="28"
              aria-label="youtube-header"
            >
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
            <li class="header-social-list-one">
              <a
                
            target="_blank"
            class="burger-header-one"
          >
              <svg
                class="header-burger"
                width="36"
                height="44"
                aria-label="burger-header"
              >
                <use href="../img/icons.svg#icon-btn-open"></use>
              </svg>
            </li>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
