<section class="hero">
  <div class="container hero-container">
    <div class="hero-tablet-wrapper">
      <div class="hero-mobile-wrapper">
        <h1 class="hero-tagline">
          Reviving the traditional
          <span class="accent-color">Ukrainian</span> artistry in every stitch.
        </h1>
        <a href="#order" class="btn hero-button"
          >Order<svg class="btn-icon hero-btn-icon" width="24" hidden="16">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-made-wrapper">
        <svg class="hero-made-icon" width="52" height="51">
          <use href="/img/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-made-text">all embroidery is made by hand</p>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/girl-desktop.webp    1x,
          /img/hero/girl-desktop@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="/img/hero/girl-desktop.jpg 1x, /img/hero/girl-desktop@2x.jpg 2x"
        media="(min-width: 1280px)"
        type="image/jpg"
      />
      <source
        srcset="/img/hero/girl-tablet.webp 1x, /img/hero/girl-tablet@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="/img/hero/girl-tablet.jpg 1x, /img/hero/girl-tablet@2x.jpg 2x"
        media="(min-width: 768px)"
        type="image/jpg"
      />
      <source
        srcset="/img/hero/girl-mobile.webp 1x, /img/hero/girl-mobile@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="/img/hero/girl-mobile.jpg 1x, /img/hero/girl-mobile@2x.jpg 2x"
        media="(max-width: 767px)"
        type="image/jpg"
      />

      <img
        class="hero-img"
        src="/img/hero/girl-desktop.jpg"
        alt="Girl wearing a vyshyvanka"
      />
    </picture>
  </div>

  <button class="btn-scroll-top is-btnshow is-btnshow-hide">
    <svg class="btn-scroll-top-icon" width="55" height="55">
      <use href="/img/icons.svg#icon-arrow-top"></use>
    </svg>
  </button>
</section>
