<div class="backdrop" id="mobile-menu">
  <div class="mobile-menu">
    <div class="mobile-menu-top">
      <address class="mobile-menu-phone">
        <a class="mobile-menu-phone-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button class="mobile-menu-close-button" type="button">
        <svg class="mobile-close-icon" width="36" height="36">
          <use href="./img/icons.svg#icon-btn-close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-content">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#collection">Our collection </a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#order">Customer order</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
