<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="section-title testimonials-section-title">Testimonials</h2>

    <div class="swiper swiper-testimonials">
      <ul class="testimonials-list swiper-wrapper">
        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-1.png"
            srcset="
              /img/testimonials/avatar-1.png    1x,
              /img/testimonials/avatar-1@2x.png 2x
            "
            alt="Photo Maria Tkachuk"
            width="64"
            height="64"
          />

          <h3 class="testimonials-title">Maria Tkachuk</h3>
          <p class="testimonials-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </li>

        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-2.png"
            srcset="
              /img/testimonials/avatar-2.png    1x,
              /img/testimonials/avatar-2@2x.png 2x
            "
            alt="Photo Sergey Rybachok"
            width="64"
            height="64"
          />
          <h3 class="testimonials-title">Sergey Rybachok</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </li>

        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-3.png"
            srcset="
              /img/testimonials/avatar-3.png    1x,
              /img/testimonials/avatar-3@2x.png 2x
            "
            alt="Photo Natalia Chatuk"
            width="64"
            height="64"
          />
          <h3 class="testimonials-title">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </li>
        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-1.png"
            srcset="
              /img/testimonials/avatar-1.png    1x,
              /img/testimonials/avatar-1@2x.png 2x
            "
            alt="Photo Maria Tkachuk"
            width="64"
            height="64"
          />

          <h3 class="testimonials-title">Maria Tkachuk</h3>
          <p class="testimonials-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </li>

        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-2.png"
            srcset="
              /img/testimonials/avatar-2.png    1x,
              /img/testimonials/avatar-2@2x.png 2x
            "
            alt="Photo Sergey Rybachok"
            width="64"
            height="64"
          />
          <h3 class="testimonials-title">Sergey Rybachok</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </li>

        <li class="testimonials-list-item swiper-slide">
          <img
            class="testimonials-list-avatar"
            src="/img/testimonials/avatar-3.png"
            srcset="
              /img/testimonials/avatar-3.png    1x,
              /img/testimonials/avatar-3@2x.png 2x
            "
            alt="Photo Natalia Chatuk"
            width="64"
            height="64"
          />
          <h3 class="testimonials-title">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
