.container-about {
  padding-top: 40px;
  padding-bottom: 62px;
  background-image: url('../img/bg/bg-element-gray.png');
  background-repeat: no-repeat;
  background-size: auto 408px;
  background-position: right -205px bottom 0px;
}

.about-title {
  margin-bottom: 40px;
}

.about-text-wrapper {
  margin-bottom: 50px;
}

.about-text {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}

.about-text:not(:last-child) {
  margin-bottom: 20px;
}

.about-img {
  border-radius: 4px;
}

@media (min-resolution: 192dpi) {
  .container-about {
    background-image: url('../img/bg/bg-element-gray@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: auto 484px;
  }

  .about-text-wrapper {
    margin-bottom: 50px;
  }

  .about-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container-about {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    column-gap: 50px;
  }

  .about-content-wrapper {
    max-width: 536px;
  }

  .about-images {
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container-about {
    background-position: right 0px bottom 0px;
  }
}
