.collection-container {
  padding-top: 18px;
  padding-bottom: 40px;
  background-image: url('../img/bg/bg-element-yellow.png');
  background-repeat: no-repeat;
  background-size: auto 177px;
  background-position: left -129px top 316px;
}

.collection-title {
  text-align: center;
  margin-bottom: 40px;
}

.collection-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.collection-img {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}

.collection-image {
  transition: transform 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.collection-image:hover {
  transform: scale(1.1);
}

.collection-list-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.collection-h-p {
  position: relative;
  z-index: 2;
}

.collection-list-item {
  position: relative;
}

.collection-item-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  height: 120%;
  background-color: #232b2f;
  opacity: 0;
  transition: box-shadow 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.5%;
  padding-bottom: 10px;
}

.collection-list-item:hover .collection-item-overlay {
  opacity: 1;
  box-shadow: 0 1px 5px #ecd97942;
}

.collection-list-item:hover {
  z-index: 5;
}

.collection-btn {
  margin-top: auto;
}

.collection-list-text {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

@media (min-resolution: 192dpi) {
  .collection-container {
    background-image: url('../img/bg/bg-element-yellow@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .collection-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: auto 300px;
    background-position: left -223px top 271px;
  }

  .collection-list {
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
  }

  .collection-list-item {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .collection-container {
    padding-top: 70px;
    padding-bottom: 75px;
    background-size: auto 300px;
    background-position: left -169px top 291px;
  }

  .collection-list {
    row-gap: 40px;
  }

  .collection-list-item {
    width: calc((100% - 40px) / 3);
  }
}
