html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #fcf9f9;
  background-color: #1c2225;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.accent-color {
  color: #ecd979;
}

.btn {
  min-width: 145px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  transition: border 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.btn-icon {
  fill: #ecd979;
  transform: rotate(-30deg);
}

.btn:hover,
.btn:focus {
  border: 1px solid #ecd979;
}

.link-underline {
  position: relative;
  padding-bottom: 5px;
}

.link-underline::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #ecd979;
  bottom: 0;
  left: 50%;
  width: 0;
  border-radius: 1px;
  transition: width 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41),
    left 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.link-underline:hover::after {
  width: 100%;
  left: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    font-size: 44px;
    line-height: 1.45455;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-title {
    font-size: 44px;
    line-height: 1.45455;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
