.container-footer {
  background-image: url('../img/bg/bg-element-yellow.png');
  background-repeat: no-repeat;
  background-size: auto 401px;
  background-position: center bottom -200px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 40px;
  padding-bottom: 281px;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
}

.footer-menu-item {
  flex-basis: calc((100% - 40px) / 2);
}

.footer-menu-item:nth-child(1) {
  order: 1;
}

.footer-menu-item:nth-child(2) {
  order: 3;
}

.footer-menu-item:nth-child(3) {
  order: 2;
}

.footer-menu-item:nth-child(4) {
  order: 4;
}

.footer-menu-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #ecd979;
}

.title-footer {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

@media (min-resolution: 192dpi) {
  .container-footer {
    background-image: url('../img/bg/bg-element-gray@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    background-position: top 0 right -276px;
    padding-bottom: 40px;
  }

  .footer-nav {
    margin-bottom: 80px;
  }

  .footer-menu {
    column-gap: 25px;
  }

  .title-footer {
    font-size: 54px;
    line-height: 1.18;
    max-width: 521px;
  }

  .footer-menu-item {
    flex-basis: auto;
  }

  .footer-menu-item:nth-child(1) {
    order: 1;
  }

  .footer-menu-item:nth-child(2) {
    order: 2;
  }

  .footer-menu-item:nth-child(3) {
    order: 3;
  }

  .footer-menu-item:nth-child(4) {
    order: 4;
  }
}

@media screen and (min-width: 1280px) {
  .container-footer {
    background-size: auto 528px;
    background-position: top -61px left 944px;
  }

  .footer-nav {
    margin-bottom: 117px;
  }

  .title-footer {
    max-width: 754px;
    font-size: 64px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1440px) {
  .container-footer {
    background-position: top -61px right -95px;
  }
}
