.testimonials{
    padding-top: 40px;
    padding-bottom: 40px;
}

.testimonials-list {
    display: flex;
   
}
.section-title {
padding-bottom: 64px;
                                }
.testimonials-text {

    font-size: 14px;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
}
.testimonials-list-item {
    position: relative;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    padding: 40px 18px 18px 18px;

}
.the-second-none,
.the-first-none{
    display: none;
}

.testimonials-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fcf9f9;
    padding-bottom: 8px;
    

}

.testimonials-list-avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;

}

@media screen and (min-width:768px) {

 .testimonials-list {
     column-gap: 32px;
                }
 .testimonials-text {
     font-size: 16px;
                                 }
 .testimonials-list-item {
     width: calc((100% - 64px) / 2);
 }
                                
                                                                 
.the-first-none{
    display: block;
}
}
@media screen and (min-width:1280px) {

    .testimonials {
            padding-top: 75px;
            padding-bottom: 75px;
        }

.testimonials-list {
        column-gap: 26px;
    }
.testimonials-list-item {
    width: calc((100% - 52px) / 3);
    
}
.the-second-none,
.the-first-none {
    display: block;
}

}
@media screen and (min-width:1440px) {
    .testimonials {
            padding-top: 75px;
            padding-bottom: 16px;
        }
.section-title {
    padding-bottom: 181px;

    }}